{{> header}}
<main>
  <h1 class="text-center">Pedidos</h1>  
  <!-- Search Input -->
  <section class="search-box">
    <i class="fas fa-search"></i>
    <input type="text" class="search-console" id="search" placeholder="Buscar" autocomplete="off">
  </section>
  <section id="orders" class="order-list">
    {{#if orders}}
    {{#each orders}}
      <div class="order-detail {{ this.state }}">
        <ol class="order-info">
          <li><b>Pedido:</b> {{ this._id }}</li>
          <li><b>ID Usuario:</b> {{ this.userId }}</li>
          <li><b>Estado:</b> {{ this.state }}</li>
        </ol>
        <div class="order-icons">
          <a href="/admin/pedidos/{{ this._id }}" id="orderInfo" class="icon"><i class="fas fa-eye"></i></a>
          <a href="/admin/pedidos/{{ this._id }}" id="orderUpdate" class="icon"><i class="fas fa-pen"></i></a>
          <div class="icon orderDelete"><i class="fas fa-trash-alt" data-id="{{ this._id }}"></i></div>
        </div>
      </div>
    {{/each}}
    {{/if}}
  </section>
</main>