{{> header }}
<main>
  <h1 class="text-center">Productos</h1>
    <form action="/admin/productos" id="productsForm" class="container form-product" method="POST" enctype="multipart/form-data">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" name="title" minlength="5" maxlength="35" required placeholder="Título o nombre del producto">
          {{#if err.title}}
          <p class="error"> {{ err.title }}</p>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" name="description" minlength="30" maxlength="500" required placeholder="Descripción del producto">
          {{#if err.description}}
          <p class="error"> {{ err.description }} </p>
          {{/if}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="detalles">Detalles técnicos</label>
          <input type="text" class="form-control" name="features" minlength="30" maxlength="200" required placeholder="Detalles técnicos">
          {{#if err.features}}
          <p class="error"> {{ err.features }} </p>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="precio">Precio</label>
          <input type="number" step="0.05" min="0" class="form-control" required name="price"
              placeholder="Precio por unidad">
          {{#if err.price}}
          <p class="error"> {{ err.price }} </p>
          {{/if}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="categoria">Categoría</label> 
          <select class="form-control" name="category" required>
            <option>{{product.category}}</option>
            <option>accesorios</option>
            <option>camisetas</option>
            <option>games</option>
            <option>tazas</option>
          </select>
          {{#if err.category}}
          <p class="error"> {{ err.category }} </p>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="unidades">Unidades disponibles</label> 
          <input type="number" class="form-control" name="quantity" min="1" required placeholder="Cantidad de unidades disponibles">
          {{#if err.quantity}}
          <p class="error"> {{ err.quantity }} </p>
          {{/if}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="imagenes">Archivos de imágenes</label> 
          <input type="file" class="form-control" id="imagesNew" required name="images" multiple>
          {{#if err.images}}
          <p class="error"> {{ err.images }} </p>
          {{/if}}
        </div>
        <div class="form-check col-md-6">
          <input class="form-check-input" type="checkbox" name="featured" value="true" id="check1">
          <label class="form-check-label" for="check1">Producto destacado</label>
        </div>
        <div class="form-group col-md-6">
          <input type="submit" class="form-control" value="Nuevo Producto">
        </div>
      </div>
      {{#if message}}
      <div class="form-row">
        <div class="col-md-12 alert alert-success text-center" role="alert">{{ message }}</div>
      </div>
      {{/if}}
  </form>

  {{#if products}}
  <section class="search-box">
    <i class="fas fa-search"></i>
    <input type="text" class="search-console" id="search" placeholder="Buscar" autocomplete="off">
  </section>

  <section class="product-list">
    {{#each products}}
    <div class="card">
      <img class="card-img-top" src="/images/{{this.image1}}" alt="Imagen {{this.title}}" title="Imagen {{this.title}}">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">Unidades disponibles: {{this.quantity}}</p>
        <a class="delete btn btn-danger" data-id="{{this.id}}"><i data-id="{{this.id}}" class="fas fa-trash-alt"></i></a>
        <a href="/admin/productos/{{this.id}}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
      </div>
    </div>
    {{/each}}
  </section>
  {{/if}}
</main>

